{% extends "base.html.twig" %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 jumbotron">
            <div class="row">
                <div class="col-md-3">
                    <img src="img/logo/faci.jpg" alt="" width="220">
                </div>
                <div class="col-md-9">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur vel sint facilis dolorem aspernatur, cupiditate doloremque reprehenderit illum, totam libero ab laudantium culpa in quasi sequi quod sapiente, iusto voluptas?
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 bg-secondary">
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugit illo minus fugiat vel commodi accusamus at vitae nesciunt rem. Dignissimos ab vero possimus adipisci eveniet pariatur nesciunt perferendis voluptate?
            </h1>
        </div>
    </div>
</div>
{% endblock %}