{% include ("parties/adminHearder.html.twig") with {"title": block("title")} %}

{% include ("parties/adminNavbar.html.twig") %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
 

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
    {% block body %}{% endblock %} {% block javascripts %}{% endblock %}
 <!-- /.content -->
  </div>
  </section>
  </div>
  <!-- /.content-wrapper -->
  {% include ("parties/adminFooter.html.twig") %}